.bundle
.bin
db/*.sqlite3
log/
tmp/
.sass-cache/
*.swp
*.pyc
*.DS_Store
*.xcworkspace
.idea/
.cane
.project
public/assets
spec/vcr
.rake_tasks~
bin/
coverage/
spec/javascripts/fixtures/*
public/sitemap*
spec/reports